
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #2795e4, #bbdefb);
  color: #333;
  height: 100vh;
  overflow: hidden; /* Prevent unwanted scrollbars for the whole page */
}

.water-break-reminder {
  max-width: 600px;
  margin: 50px auto;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px 30px;
  animation: fadeIn 1s ease-in-out;
  overflow-y: auto; /* Allow content inside the card to scroll */
  max-height: calc(100vh - 100px); /* Adjust for viewport height */
}

html, body {
  height: 100%;
}



.water-break-reminder h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0e2237;
}

/* Form styling */
label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="number"],
input[type="datetime-local"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
}

input:focus {
  border-color: #0e2237;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.hourly-target {
  text-align: center;
  font-size: 1.2rem;
  margin: 20px 0;
  font-weight: bold;
  color:#0e2237;
}

.gauge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  animation: pulse 2s infinite;
}

.drink-input {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  background-color:#42b583;
}

button:hover {
  background-color:#246018;
  color: #1ba37a;
}

.reset-button {
  background-color: #23214c;
  color: #fff;
  margin-top: 15px;
  width: 100%;
}

.reset-button:hover {
  background-color: #e64a19;
}

/* Target completed message */
.exceeded-target-message {
  text-align: center;
  font-size: 1.2rem;
  color: #4caf50;
  font-weight: bold;
  animation: bounce 1s ease-in-out infinite;
}

/* Table styling */
.daily-history table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.daily-history th,
.daily-history td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.daily-history th {
  background-color: rgb(34, 29, 74);
  color: #fff;
}

.daily-history tr:nth-child(even) {
  background-color: #f9f9f9;
}

.daily-history tr:hover {
  background-color: #f1f1f1;
}

button svg {
  color: #b01b1b;
  transition: color 0.3s;
}

button svg:hover {
  color: #b01b1b;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
